## 1. L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

In [50]:
L=[1,2,3,4,5]

In [51]:
L[1:3]=[100]
print(L)

[1, 100, 4, 5]

리스트의 1:3자리에 100을 치환하여 넣는다. 따라서 2,3이 사라지고 100이 들어가게 된다.

In [52]:
L[1:3]=[(100)]
print(L)

[1, 100, 5]

위의 출력값인 [1,100,4,5]에서 위와같은 1:3자리인 100과 4가 100으로 슬라이스치환되어 들어간다.

In [53]:
L[1:3]=100
print(L)

TypeError: can only assign an iterable

100의 type을 조사해보면 int형이 나온다. 첫줄의 우측에는 값을 변경 가능한 리스트나 사전이 와야하는데 int형이 들어기때문에 에러가 발생한다,

In [54]:
L[1:3]=(100)
print(L)

TypeError: can only assign an iterable

바로 위의 문제와 마찬가지로 (100)의 type은 int형이기 때문에 변경 불가능하기 때문에 에러가 발생한다.

In [55]:
L[1:3]=(100,101,102)
print(L)

[1, 100, 101, 102]

현재 리스트의 상태는 [1, 100, 5]이고 1:3자리인 100, 5에 튜플값인 100, 101, 102가 들어가게 된다.

In [56]:
L[1:3]=[100,101,102]
print(L)

[1, 100, 101, 102, 102]

현재 리스트값인 [1, 100, 101, 102]에서 1:3자리인 100, 101에 100, 101, 102를 넣어준다.

In [57]:
L[1:3]=[(100,101,102)]
print(L)

[1, (100, 101, 102), 102, 102]

(100, 101, 102)는 튜플의 각 인덱스값을 가지고 그 튜플은 L이라는 리스트 안에서 1:3자리를 차지하기 때문에 (100, 101, 102)라는 튜플값 자체가 들어가게 된다.

In [59]:
L[1:3]=[[100,101,102]]
print(L)

[1, [100, 101, 102], 102]

위의 문제와 마찬가지로 [100,101,102]는 리스트의 각 인덱스 값을 가지고 그 리스트는 L이라는 리스트의 1:3자리에 들어가기 때문에 (100, 101, 102), 102자리에 [100,101,102]라는 리스트 자체가 들어간다.

## 2. 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.

1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [32]:
s='Hello World and Python'
s=s[16:]+' '+s[12:15]+' '+s[6:11]+' '+s[:5]
print(s)
print(s.split())
t=s.split()
t2=''.join(t)
print(t2)

Python and World Hello
['Python', 'and', 'World', 'Hello']
PythonandWorldHello

슬라이싱과+연산자를 이용하여 단어순서가 역순으로 된 Python and World Hello를 출력한다. 다음으로 split을 이용하여 공백으로 단어를 나누어주고 join으로 공백없이 다시 합쳐주면 PythonandWorldHello 가 출력된다.

## 3. 다음 코드를 보고 물음에 답하시오.

In [60]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [61]:
a[0]=0
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

b와 c 객체의 차이는 무엇인가?

b는 객체 a의 리스트 자체를 세번 연속해서 출력하는것이고 c는 리스트 a자체를 원소로 가지고있기 때문에 새로운 객체를 만드는 것이 아니라 a를 참조하는 형태이기 때문에 a[0]을 하면 값이 바뀐다.

## 4.다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)

s = '  first star   :   second star   :    third star  '

1) for ~ in 문을 이용한 코드를 작성하시오.

In [17]:
s = ' first star : second star : third star '
s1=s.split(':')
print(s1)
for s in s1:
    t=0
    s1[t]=s.strip()
print (s1)

[' first star ', ' second star ', ' third star ']
['third star', ' second star ', ' third star ']

split을 이용하여 :기준으로 나누어서 리스트에 저장한다. 공백을 없앤 리스트를 받기위해 t라는 변수를 추가하고 for~in문 안에서 strip을 통해 공백을 제거한다.

2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [18]:
s = ' first star : second star : third star '
s1=s.split(':')
print(s1)
t=0
s2=[s.strip()for s in s1]
print(s2)

[' first star ', ' second star ', ' third star ']
['first star', 'second star', 'third star']

일단 위와같은 방법으로 :를 기준으로 나누어주고 리스트 내포 안에서 for~in문을 통해 좌우 공백을 없애준다.

## 5. 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.

1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
#### ◦>>> addall([1]) 1

#### ◦>>> addall([1, 2, 3, 4, 5, 6, 7, 8, 9]) 45

In [25]:
n = input(u'0보다 큰 정수를 입력하세요 : ')
a = range(n)
s = 0
for i in range(len(a)+1):
    s += i
print (s)

0보다 큰 정수를 입력하세요 : 3

TypeError: 'str' object cannot be interpreted as an integer

2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)

## 6. 다음 코드를 보고 물음에 답하시오.

In [27]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(d)
print(e)
print(f)

{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?

e=d이기 때문에 e가 d의 객체를 참조한다. 따라서 e의 값은 자동으로 d의 값을 따라가기 때문에 같은 값이 출력된다.

2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.

f = d.copy()이기 때문에 f는 d값을 복사해서 가진다. 이는 얕은복사이기 때문에 리스트 안의 원소까지는 복사할 수 없어서 d[high][1]을 통해 d의 원소값이 바뀌어도 복사할 수 없기 때문에 위와 같은 값이 출력되는 것이다.

## 7. 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오

[참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.

1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [33]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
def cmp_key(a):
    return a[0]
def cmp_value(a):
    return a[1]
uu_key=list(d.items())
uu_key.sort(key=cmp_key)
print(uu_key)

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]

2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [34]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
def cmp_key(a):
    return a[0]
def cmp_value(a):
    return a[1]
dd_key=list(d.items())
dd_key.sort(key=cmp_key,reverse=True)
print(dd_key)

[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]

3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [35]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
def cmp_key(a):
    return a[0]
def cmp_value(a):
    return a[1]
uu_value=list(d.items())
uu_value.sort(key=cmp_value)
print(uu_value)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [36]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
def cmp_key(a):
    return a[0]
def cmp_value(a):
    return a[1]
dd_value=list(d.items())
dd_value.sort(key=cmp_value,reverse=True)
print(dd_value)

[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

사전 d를 정의 하고 key값과 value값으로 정의하는 함수를 작성한다. 오름자춘과 내림차순으로 정리하기위해 값을 비고해주고 오름차순과 반대되는 경우라면 내림차순으로 정렬하는 방식으로 코드를 작성한다.

## 8. 강민이는 치킨 한 마리를 주문할 수 있는 치킨 쿠폰을 n장 가지고 있다. 이 치킨집에서는 치킨을 한 마리 주문할 때마다 도장을 하나씩 찍어 주는데, 도장을 k개 모으면 치킨 쿠폰 한 장으로 교환할 수 있다.강민이가 지금 갖고 있는 치킨 쿠폰으로 치킨을 최대 몇 마리나 먹을 수 있는지 구하여라. 단, 치킨을 주문하기 위해서는 반드시 치킨 쿠폰을 갖고 있어야 한다.

## 9. [Incremental Project] 이전 Assignment 2의 마지막 문제는 웹 URL로 지정된 웹페이지를 문자열로 가져와 모든 HTML 태그를 제외한 순수 텍스트를 얻어내고 그 안에 존재하는 단어를 추출하고 단어들의 총 개수를 출력하는 프로그램을 작성하는 것이었다. 이번에는 그 마지막 숙제를 그대로 확장하여 웹 URL로 지정된 웹페이지 내 순수 텍스트 안에 존재하는 각 단어들에 대해 다음 요구사항 대로 출력하는 프로그램을 작성하시오.

소감

이번 과제는 이전 과제에 비해 시간도 오래걸리고 헷갈리는 문제가 많았다. 리스트와 튜플, 사전을 완벽하게 이해해야 했기 때문에 많은 여려움을 겪은 것 같다.